.topic-container {
    background-color: #161c32;
    overflow-y: auto;
}

.container {
    font-family: "Open Sans";
}

.topic-header h3 {
    /*color: #9fa3bc;*/
    margin: 0;
    font-size: 30px;
}

.row {
    justify-content: space-around;
}

.container .col-12 p {
    text-align: center;
}

.container .text {
    color: #9fa3bc;
    font-size: 20px;
    text-align: center;
}

.list-section {
    list-style: none;
    color: #9fa3bc;
    font-size: 18px;
    text-align: justify;
}

.list-section li::before {
    content: "▹    ";
}

.list-section li {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 16px;
}

.container .description {
    color: #9fa3bc;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
}

.tables-section {
    text-align: center;
    font-size: 18px;
}

.box-exp {
    background-color: #8B91A9;
}

.image-grid-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-gap: 10px;
    justify-content: space-around;
    color: #9fa3bc;
}

.img-header {
    color: #9fa3bc;
}

.c-d-section .text {
    text-align: center;
    font-size: 18px;
}

.exm-img {
    margin-right: auto;
    margin-left: auto;
}

.examples-section {
    background-color: #40375c;
    border: 2px solid white;
    color: #9fa3bc;
}

.examples-section .list-section {
    text-align: left;
}